services:
  db:
    image: postgis/postgis:latest
    container_name: postgres
    hostname: postgres
    restart: always
    environment:
      POSTGRES_USER: $DB_USER
      POSTGRES_PASSWORD: $DB_PASSWORD
      POSTGRES_DB: $DB_NAME
      TZ: UTC
    env_file:
      - .env
    ports:
      - $PORT_DB:$PORT_DB
    volumes:
      - postgres_data:/var/lib/postgresql/data
      - ./initDB:/docker-entrypoint-initdb.d
    networks:
      - backend-network

  redis:
    image: redis:latest
    container_name: redis
    hostname: redis
    restart: always
    ports:
      - $REDIS_PORT:$REDIS_PORT
    volumes:
      - redis_data:/data
    networks:
      - backend-network

  rabbitmq:
    image: rabbitmq:3-management
    container_name: rabbitmq
    hostname: rabbitmq
    restart: always
    ports:
      - $RABBITMQ_PORT_SERVER:$RABBITMQ_PORT_SERVER # RabbitMQ server
      - $RABBITMQ_PORT_UI:$RABBITMQ_PORT_UI # Management UI
    environment:
      RABBITMQ_DEFAULT_USER: $RABBITMQ_USER
      RABBITMQ_DEFAULT_PASS: $RABBITMQ_PASSWORD
    volumes:
      - rabbitmq_data:/var/lib/rabbitmq
      - rabbitmq_logs:/var/log/rabbitmq
    networks:
      - backend-network

volumes:
  postgres_data:
  redis_data:
  rabbitmq_data:
  rabbitmq_logs:

networks:
  backend-network:
    driver: bridge
    name: backend-network
